@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html{
	height: 100%;
}
body{
	color: #5e5e5e;
	font: 400 87.5%/1.5em 'Open Sans', sans-serif;
	background-color: #2C313A;
	position: relative;
	height: 100%;
}
a {
	color: inherit;
}
h1{
	text-align: center;
	padding: 20px;
}
input {
  border:0;
  box-shadow:none;
}
input:-moz-placeholder {
  box-shadow:none !important;
}
input:invalid {
  box-shadow:0;
}

/* --- Login & Register --- */

.imgBg{
	background: url("https://download.unsplash.com/photo-1413896235942-39c2eb7cd584") 50% fixed;
	background-size: cover;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.wrapper{
	background-color: rgba(3, 126, 140, .6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
.container{
  width: 350px;
  position: relative;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  border-bottom: 7px solid rgb(2, 73, 89);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  border-radius: 5px 5px 10px 10px;
}
.container .text{
  background: rgb(250,250,250);
  border: none;
  border-bottom: 2px solid rgb(192,192,192);
  color: rgb(102,102,102);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  padding-left: 10px;
  transition: border-color 0.3s;
  width: 100%;
  outline: none !important;
}
.text{
	transition: border-color 0.3s ease-in-out;
}
.text:focus{
	border-color: rgb(152, 152, 152);
}
.subcontainer{
	float:left;
	width: 350px;
	padding: 10px 30px;
	border: 1px solid rgba(0,0,0,0);
}
.redButton{
	width: 55%;
	padding: 12px;
	text-align: center;
	border: 0;
	background-color: rgb(2, 73, 89);
	color: rgb(250, 250, 250);
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	outline: none;
	margin: 25px;
	transition: background 0.3s ease-in-out;
}
.redButton:hover{
	background-color: rgb(3, 126, 140);
}
.link{
	text-align: center;
	color: rgb(242, 76, 39);
}
.msgBox{
	width: 100%;
	height: 0;
	padding: 0;
	left: 0;
	bottom: 0px;	
	text-align: center;
	transition: bottom 0.3s ease-in-out;
}

#register{
	width: auto;
	right: -50%;
	float: right;
}

.outerCenter{
	float: right;
  right: 50%;
  position: relative;
}

.second{
	position: relative;
	margin-left: -350px;
	z-index: -30;
	transition: all 0.3s ease-in-out;
}

.half{
	float:left !important;
	width: 50% !important;
}

.roleButtons{
	margin: 10px;
}

.loginLink{
	margin: 10px;
}

.addCenterCamp{
	width: 80% !important;
}

.addCenterButton{
	float: right;
	text-align: center;
	font-size: 1.4em;
	display: block;
	width: 20%;
	cursor: pointer;
}

.addCenterButton a i{
	line-height: 49px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}
input[type=radio] {
    display: none;
}
label:before {
		border-radius: 100%;
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;
 
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: rgb(192,192,192);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .2), 0px 1px 0px 0px rgba(255, 255, 255, .5);
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

/* --- Left Menu --- */

nav.nav{
	position: fixed;
	height: auto;
	width: 200px;
	background-color: rgb(2, 73, 89);
	overflow: hidden;
	float: left;
	z-index: 2;

	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  	border-radius: 0px 5px 5px 0px;

	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav.nav ul{
	display: block;
}

nav.nav li{
	overflow: hidden;
	text-align: right;
	height: 80px;
	width: 200px;
	list-style: none;
}

p.text{
	position: relative;
	padding: 30px 20px 0 0;
}

a.text{
	color: rgb(250, 250, 250);
	font-size: 1.2em;
	text-decoration: none;
}

div.option{
	width: 0;
	height: 80px;
	position: absolute;
	background-color: rgb(3, 126, 140);	
	-webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    -ms-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

nav.nav li:hover div.option{
	width: 200px;
}

nav.nav li:hover a.text{
	color: rgba(236, 240, 241,1.0);
}

nav.nav li a.text:focus{
	text-decoration: underline;
	outline: none;
}

input.search{
	width: 138px;
	height: 80px;
	background-color: rgb(3, 126, 140);
	outline: none;
	border: none;
	text-align: right;
	font-size: 1.2em;
	padding-right: 20px;
	color: rgb(236, 240, 241);
}

li.search:hover div.ico{
	margin-left: 300px;
	opacity: 0;
}

li.search{
	position: relative;
	background-color: rgb(3, 126, 140);
}

div.ico{
	z-index: 1;
	font-size: 1.5em;
	color: rgb(250, 250, 250);
	overflow: hidden;
	position: absolute;
	margin: 27px 0 20px 20px;

	-webkit-transition: margin-left .9s, opacity .3s;
    -moz-transition: margin-left .9s, opacity .3s;
    -o-transition: margin-left .9s, opacity .3s;
    -ms-transition: margin-left .9s, opacity .3s;
    transition: margin-left .9s, opacity .3s;
}	

/* --- Panel --- */

div.panel{
	position: absolute;
	z-index: 1;
 	left: 75px;
 	top: 48px;

 	min-height: 85vh;
 	overflow: hidden;
 	margin: 20px 0 20px 0px;
	height: auto;
	background-color: rgb(250, 250, 250);
	border-bottom: 10px solid gray;
	float: left;

	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  	border-radius: 5px 0px 0px 15px;
}

div.itemList{
	padding: 20px 20px 15px 20px;
}

/* --- Panel Header (logout link) --- */

div.header{
	position: fixed;
	height: 48px;
	width: 100%;
	z-index: 3;
}

div.login{
	position: relative;
	top: 0;
	right:0;
	width: 100%;
	height: 48px;
	text-align: center;
	vertical-align: middle;
	color: rgb(250, 250, 250);
	background-color: rgb(2, 73, 89);
	border-bottom: 8px solid rgb(242, 76, 39);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

div.login p{
	width: 30%;
	min-width: 150px;
	float: right;
	text-align: right;
	line-height: 40px;
}

div.login img{
	margin-left: 10px;
	float: right;
	height: 40px;
	width: 40px;
}

span.userLink{
	cursor: pointer;
}

div.userBox{
	position: absolute;
	width: 150px;
	height: auto;
	top: 55px;
	right: 10px;
	color: rgb(2, 73, 89); 
	z-index: 5;
	border-radius: 3px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.arrowBox {
	position: relative;
	background: rgb(230, 230, 230);
	border: 4px solid rgb(230, 230, 230);
}
.arrowBox:after, .arrowBox:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrowBox:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: rgb(230, 230, 230);
	border-width: 10px;
	margin-left: -10px;
}
.arrowBox:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgb(230, 230, 230);
	border-width: 16px;
	margin-left: -16px;
}

/* --- Items --- */

.item, .itemAdd{
	width: 300px;
	height: 200px;
	background-color: rgb(230,230,230);
	color: rgb(102,102,102);
	float: left;
	margin: 0 20px 20px 0;
}

.descriptionProject{
	margin-bottom: 20px;
	padding:10px;
	width:100%;
	background-color:lightgray;
	text-align: left !important;
	border-radius: 2px;
}

.blackScreen{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 99;
}

div.headerItem{
	position: relative;
	background-color: rgba(0,0,0,0.3);
	color: rgb(250,250,250);
	height: 35px;
	line-height: 35px;
}

div.bodyHeader{
	padding: 10px;
}

div.item input#outdatedBtn, div.item input#join, div.item input#toResources{
	outline: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-top: 4px solid lightgray;
	background-color: inherit;
}

input.settings{
	height: 100%;
	top: 0;
	position: absolute;
	font-size: 23px;
	right: 10px;
	font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgba(0,0,0,0);
	outline: 0;
}

div.bodyItem{
	padding: 10px;
}

div.itemAdd button{
	width: 100%;
	height: 100%;
	border: 0;
	outline: 0;
	cursor: pointer;
	font: inherit;
	color: inherit;
	font-size: 2em;
	text-align: center;

	-webkit-transition: background-color .3s, color .3s;
    -moz-transition: background-color .3s, color .3s;
    -o-transition: background-color .3s, color .3s;
    -ms-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
}
div.itemAdd button:hover{
	background-color: rgb(3, 126, 140);
	color: rgb(250,250,250);
}
div.itemAdd button i{
	margin-top: 5px;
}

/* --- Hidden form --- */

div.formBox{
	position: fixed;
	background-color: white;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 600px;
	height: 400px;
	padding: 10px;
	text-align: left;
}

div.formBox span.tag, div.formBox input.tag, div.formBox select.tag{
	border: none;
	color: rgb(102,102,102);
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	height: 50px;
	float: left;
	padding-left: 10px;
	margin: 5px 0;
}

div.formBox span.tag{
	line-height: 50px;
	width: 40%;
}

div.formBox input.tag, div.formBox select.tag{
	transition: border-color 0.3s;
	width: 60%;
	border: 2px solid rgb(192,192,192);
	outline: none !important;
}

div.formBox h3{
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 2px solid rgb(192,192,192);
	color: rgb(102,102,102);
}

/* --- Resources icons --- */

div.itemIcon {
	float: left;
	margin-right: 20px;
}

div.itemIcon button {
	width: 100px;
	height: 100px;
	border: 0;
	outline: 0;
}

div.iconImg{
	font-size: 2.5em;
}

/* --- Headers --- */

.itemHeader{
	width: 100%;
	border-bottom: 5px solid rgb(242, 76, 39);
	padding: 20px 0 10px 20px;
}

.itemTitle{
	width: 100%;
	padding-bottom: 10px;
}

.itemTitle h1{
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	background-color: inherit;
	line-height: 25px;
	padding: 0;
	margin: 0; 
}

/* --- Back Button --- */

.backButton{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;
	border: 0;
	outline: 0;
	background-color: rgb(192,192,192);
	line-height: 48px;
	text-align: center;
	font-size: 2em;
}

/* --- About -- */

div.vidContainer{
	width: auto;
	min-height: 600px;
	position: relative;
}

video.videoHeader{
	position: fixed;
	min-width: 100%;
	min-height: 105%;
	top: -40px;
}

div.vidMarkee{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	z-index: 1;
	background-color: rgba(0,0,0,.2);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGUlEQVQIW2NkwAIYCQn+Z2BgACsiqBJuEgA0oAEG+FuXFQAAAABJRU5ErkJggg==);
	background-repeat: repeat;
}

h1.aboutTitle {
	position: absolute;
	color: rgb(250,250,250);
	z-index: 5;
}

div.vidSection {
	position: absolute;
	width: 100%;
	z-index: 5;
	top: 0;
}

div.vidColumn{
	float: left;
	width: 25%;
	min-width: 250px;
	padding: 20px;
	
}

div.vidText{
	color: rgb(250,250,250);
	padding: 20px;
	background-color: rgba(0,0,0,.5);
}

div.vidSection h1{
	float: left;
	width: auto;
	color: rgb(250,250,250);
	text-align: left;
	margin-left: 20px;
	background-color: rgba(0,0,0,.5);
}

div.vidText h2{
	margin-bottom: 5px;
}

/* -- User Options -- */

div.optionsContainer{
	min-width: 350px;
	width: 30%;
}

div.optionsContainer input[type='text'],div.optionsContainer input[type='password']{
	float: left;
	width: 60%;
	padding: 15px;
	background-color: inherit;
	border: 1px solid lightgray;
	margin: 5px 0;
}

div.optionsContainer input[type='submit']{
	float: right;
	width: 60%;
	margin: 10px 0 !important;
}

div.optionName{
	float: left;
	width: 40%;
	line-height: 61px;
	text-align: right;
	padding-right: 10px;
}

span.optionNotification{
	display: block;
  width: 60%;
  float: right;
  text-align: center;
}

/* ---Generic classes--- */

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.shadowBox{
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 2px;
	text-align: center; 

	position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.shadowBox:before, .shadowBox:after{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

span.important{
	font-weight: bold;
	color: rgb(242, 76, 39);
}

.noClick{cursor: default; opacity: .7;}
.center{text-align: center;}
.paddingTop{ padding-top: 10vh;}
.darkBg{background-color: rgb(0,0,0) !important;}
.activeMsg{height: 30px; line-height: 30px;}
.green{color: rgb(39, 174, 96);}
.red{color: rgb(234, 97, 83);}
.center{text-align: center;}
.paddingBottom{margin-bottom: 70px;}
.allHeight{height: 100px !important;}
.bgGreen{background-color: rgb(39, 174, 96);}
.bgRed{background-color: rgb(234, 97, 83);}


/* --- Media queries --- */

@media screen and (max-width: 450px){
	.container{
		width: 100%;
		border-radius: 0;
	}


	div.panel{
		top: 106px !important;
		width: 100% !important;
		border-radius: 0 !important;
		left: 0 !important;
	}

	nav.nav{
		top: 0 !important;
		border-radius: 0 !important;
		width: 100% !important;
		display: inline-block !important;
		margin-top: 46px !important;
		position: inherit !important;
		z-index: 2;
	}

	div.option{
		display: none;
	}

	nav.nav li{
		width: 25% !important;
		float: left !important;
	}

	div.ico{
		margin-left: 30px;
	}

	nav.nav li.search{
		display: none !important;
	}

	p.text{
		display: none;
	}

	div.item, div.itemAdd{
		margin: 0 0 20px 0;
		width: 100% !important;
	}

	div.commentArea textarea{
		margin-bottom: 20px !important;
	}

	div.commentOptions{
		margin-bottom: 20px !important;
	}

	div.commentSection{
		width: 100% !important;
		min-width: 0 !important;
	}

	div.question{
		border-left: 0 !important;
		border-bottom: 4px solid rgb(242, 76, 39) !important;
	}

	div.topicMessage{
		border-left: 0 !important;
		border-bottom: 4px solid rgb(192,192,192) !important;
		width: 100% !important;
		max-width: 0 !important;
		min-width: 100% !important;
		padding: 0;
	}

	div.shadowBox{
		width: 100% !important;
	}

	div.optionsContainer{
		width: 100%;
		min-width: 0 !important;
		overflow: hidden;
	}

	div.optionsContainer input[type='text'], div.optionsContainer input[type='password']{
		width: 100% !important;
	}

	div.optionName{
		text-align: left !important;
		width: 100% !important;
		line-height: 15px;
		margin-top: 15px;
	}

	.allHeight{
		height: 40px !important;
	}
}

@media screen and (max-width: 700px){
	#register.container{
		border-radius: 0 !important;
		width: 100%;
	}

	.outerCenter{
		width: 100%;
	}

	#register.container .subcontainer{
		width: 100%;
	}
}

@media screen and (max-width: 842px){
	div.vidColumn{
		width: 100%;
	}

	.backButton{
		position: fixed;
		opacity: .7;
	}
}