/*--- Main forum table ---*/

table{
	width: 100%;
	border-collapse: collapse;
}
table tr:first-child th {
  border-bottom: 5px solid rgb(242, 76, 39);
  padding: 20px;
  font-size: 1.2em;
}
table tr td {
	padding: 15px;
}

tr:not(:first-child):hover{
	background-color: rgb(222,222,222); 
}

.options{
	width: 80px;
}
.enter, .delete, .visible{
	width: 100%;
	height: 100%;
	border: 0;
	color: white;
	outline: none;
	transition: background 0.3s ease-in-out;
}

.userTopicImg{
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 99em;
	vertical-align: middle;
}
.enter {
	background-color: rgb(3, 126, 140);
}
.delete {
	background-color: rgb(231, 76, 60);
}
.visible{
	background-color: rgb(46, 204, 113)
}

.addTopic{
	display: block;
	background-color: inherit;
	outline: 0;
	border: 0;
	width: 100%;
	height: 100%;
	font-size: 1.5em;
}


/* -- Topic -- */

/* Topic Section & comments */

.topic{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.topicHeader{
	width: 100%;
	border-bottom: 5px solid rgb(242, 76, 39);
	padding: 20px 0 10px 20px;
}

.topicTitle{
	width: 100%;
	padding-bottom: 10px;
}

.topicTitle h1{
	font-size: 2em;
	font-weight: bold;
	text-align: left;
	background-color: inherit;
	padding: 0;
	margin: 0; 
}
.topicTitle h1 input{
	background-color: rgb(240, 240, 240);
	width: 50%;
	outline: 0;
}

.topicSubtitle{
	color: rgb(192,192,192);
	font-size: 1em;
	width: 100%;
	text-align: left;
	display: inline-block;
}

.topicSubtitle button{
	border: 0;
	background-color: inherit;
	margin-left: 10px;
	outline: none;
}

.topicBody{
	padding: 20px;
}

.topicUser{
	float:left;
	width: 20%;
	min-height: 60px;
	min-width: 300px;
	margin-bottom: 10px;
	display: inline-block;
}

.topicUser span{
	display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 10px;
}

.topicUser img{
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 99em;
	vertical-align: middle;
}

.topicMessage{
	border-left: 4px solid rgb(192,192,192);
	padding: 0 20px;
	float: left;
	max-width: 80%;
	min-height: 100px;
	min-width: 250px;
}

.topicMessage p{
	white-space:pre-wrap;
}

/* Comment "textarea" section */

.commentSection{
	width: auto;
	min-width: 400px;
	float:left;
}

.commentArea{
	width: 350px;
	float: left;

}

.commentArea textarea{
	width: 100%;
	max-width: 100%;

	min-height: 100px;
	border:0;
	border-bottom: 4px solid rgb(192,192,192);
	padding: 10px;
	outline: 0;
	background-color: rgb(240,240,240);
}

.commentOptions{
	width: 50px;
	max-width: 50px;
	float:left;
}

.commentOptions button{
	border: 0;
	width: 100%;
	height: 50px;
	font-size: 1.4em;
	color: white;
	outline: 0;
}

/* -- New Topic -- */

.questionSection{
	width: 50%;
	margin-left: 20px;
}

.questionSection input{
	width: 50%;
	margin: 0 0;
	background-color: inherit;
	border-bottom: 4px solid rgb(192,192,192);
	background-color: rgb(240,240,240);
	margin-bottom: 20px;
	padding: 10px;
	outline: 0;
}

/* ------ RESET D'ESTILS ORIGINALS ------ */
.panel{
	padding: 0 !important;
	overflow: hidden;
}

.question{
	border-left: 4px solid rgb(242, 76, 39) !important;
}

/* ---- Media queries ----*/

@media 
only screen and (max-width: 831px){
.topicUser{
		width: auto;
		min-width: 0;
	}
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.paddingTop{
		padding: 0 !important;
	}

	.centerMedia{
		text-align: right !important;
	}

	.center {
		text-align: right !important;
	}

	.options {
		width: 100%;
		height: 65px;
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	th{
		display: none;
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 15px;
		left: 6px;
		width: 45%; 
		text-align: left;
		font-weight: bold;

		padding-right: 10px; 
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "#"; }
	td:nth-of-type(2):before { content: "Tema"; }
	td:nth-of-type(3):before { content: "Usuari"; }
	td:nth-of-type(4):before { content: "Visites"; }
	td:nth-of-type(5):before { content: "Respostes"; }
	td:nth-of-type(6):before { content: "Data/Hora"; }

}